<%- include("header") -%>

<section class="welcome">


  <div class="horizontal-align">
    <div class="text">
      <h1 class="title">Eco Bloks</h1>
      <h4 class="slogan">Welcome to the future</h4>
    </div>
    <img style = "width: 500px;" src="images/ecoblock.png" alt="an image">
  </div>


</section>
<section class="eco-block">

</section>
<section class="sponsors">

</section>
<section class="footer">

</section>




<%- include("footer") -%>
